beautifulsoup4==4.9.1
blinker==1.4
bs4==0.0.1
Click==7.0
django==3.2.7
django-crispy-forms==1.9.1
dj_database_url==2.0.0
django_heroku==0.3.1
httplib2==0.14.0
Jinja2==2.10.1
more-itertools==4.2.0
oauthlib==3.1.0
pylint==2.4.4
pyserial==3.4
requests==2.23.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
soupsieve==2.0.1
sqlparse==0.3.1
